/* Assignment One */
.assgin-1 div {
   width: 300px;
   height: 60px;
   margin-inline: auto;
   background-color: #eee;
   text-align: center;
   font-size: 22px;
   margin-bottom: 10px;
}

.assgin-1 div:empty {
   background-color: red;
}

/* ============================== */
/* Assginment Two */
.assign-2 div {
   width: 400px;
   background-color: #ddd;
   margin-inline: auto;
   padding: 10px 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;

}

.assign-2 div::first-letter {
   background-color: red;
   color: #fff;
   margin-left: -10px;
   font-size: 30px;
}

/* ============================== */
/* Assginment Three */

.assign-3 p {
   width: 600px;
   margin-inline: auto;
   background-color: #eee;
   margin-bottom: 10px;
   padding: 20px 0 20px 10px;
   position: relative;
   border-left: 4px solid #E91E63;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}

.assign-3 p::before {
   content: attr(data-person);
   background-color: #DDD;
   position: absolute;
   left: -100px;
   width: 10%;
   top: 0;
   bottom: 0;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.assign-3 p::after {
   content: "";
   position: absolute;
   border: 15px solid;
   border-color: transparent #E91E63 transparent transparent;
   left: -30px;
   top: 50%;
   margin-top: -15px;
}

/* ============================== */
/* Assginment Four */
.assign-4 p {
   width: 600px;
   background-color: #eee;
   margin-inline: auto;
   padding: 10px;
   font-size: 19px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   counter-increment: count;
   position: relative;
}

.assign-4 p::before {
   content: counter(count);
   background-color: #F44336;
   color: #fff;
   top: 0;
   bottom: 0;
   left: -50Px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
}

.assign-4 p::after {
   content: "";
   background-color: #F44336;
   position: absolute;
   width: 4px;
   right: 0;
   top: 0;
   bottom: 0;
}